*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Public Sans', sans-serif;
	/*font-size: 18px;*/
}
html,body{
	height: 100%;
}
a{
	text-decoration: none;
	color: hsl(233, 8%, 62%);
	margin: 0 10px;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.75); /*this sets the slightly see-through black*/
    z-index: 100; /*Make this less than the existing popup div*/
}
.container{
	width: 100%;
	padding: 0 14%;
}
.logo{
	cursor: pointer;
}
.banner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 17px 14%;
	width: 100%;
}
.banner-mobile{
	display: none;
	padding: 17px 0;
	width: 100%;
	position: relative;
}
.banner-mobile img.logo{
	cursor: pointer;
	padding: 15px 2%;
}
.banner-mobile img.hamburger{
	cursor: pointer;
	padding: 15px 2%;
	min-width: 24px;
}
.banner-mobile nav{
	display: none;
	width: 100%;
	position: absolute;
	top: 100px;
	text-align: center;
	z-index: 101;
}
.banner-mobile nav ul{
	display: block;
	width: 95%;
	border-radius: 5px;
	background-color: white;
	margin: 0 auto;
}
.banner-mobile a{
	color: hsl(228, 7%, 14%);
}
.banner-mobile nav li{
	width: 100%;
	padding: 15px;
}
.header-desktop li{
	display: inline-block;
}
.header-desktop a{
	padding: 19px 0;
}
.header-desktop .banner a:hover{
	color: black;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 5px solid hsl(136, 65%, 51%);
}
.btn_request{
	border: none;
	background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
	color: white;
	font-size: 14px;
	font-weight: 700;
	padding: 15px 35px;
	border-radius: 25px;
	cursor: pointer;
}
.flex-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section.header-section{
	background-color: hsl(0, 0%, 98%);
	background-image: url(../images/bg-intro-desktop.svg);
	background-repeat: no-repeat;
	background-position: 1000px -200px;
	width: 100%;
	height: 100vh;
	max-height: 800px;
}
section.header-section .conteudo{
	width: 50%;
}
.conteudo h2{
	max-width: 750px;
	font-size: 52px;
	font-weight: 400;
	color: hsl(228, 7%, 14%);
	margin-bottom: 35px;
	padding: 160px 0 0 28%;
}
.conteudo p {
	font-size: 19px;
	line-height: 32px;
	color: hsl(233, 8%, 62%);
	margin-bottom: 50px;
	padding: 0 0 0 28%;
	max-width: 800px;
}
.btn-header-chamada{
	margin-left: 28%;
}
section.header-section .mockups{
	width: 50%;
}
section.header-section img{
	width: 100%;
	height: auto;
	max-width: 767px;
	padding: 0 2%;
}

/*Section1*/
.section1{
	padding: 130px 0;
	background-color: rgb(244,245,247);
}
.section1 .flex-wrap{
	align-items: center;
}
.section1 .content {
	padding: 0 2%;
}
.section1 .content h2{
	font-size: 36px;
	font-weight: 300;
}
.section1 .content p {
	margin-top: 28px;
	color: rgb(186,187,191);
	font-size: 17px;
}
.section1 .single-item{
	margin-top: 70px;
	width: 25%;
	padding: 0 2%;
}
.section1 .single-item img{
	margin-bottom: 15px;
}
.section1 .single-item h2{
	font-size: 22px;
	font-weight: 400;
	padding: 25px 0;
}
.section1 .single-item p{
	color: rgb(186,187,191);
}
/*Section2*/
.section2{
	padding: 100px 0;
	background-color: rgb(250,250,250);
}
.section2 .flex-wrap{
	justify-content: space-between;
}
.section2 .container > h2{
	padding: 0 2%;
	font-size: 36px;
	font-weight: 300;
}
.section2 .item-single{
	margin-top: 55px;
	width: 23%;
	/*padding: 0 2%;*/
	background-color: white;
}
.section2 .item-single img{
	width: 100%;
	height: auto;
	border-radius: 10px;
	max-height: 190px;
}
.section2 .item-single > div{
	margin-top: 28px;
	padding: 0 7%;
}
.section2 .item-single span{
	font-size: 12px;
	color: hsl(233, 8%, 62%);
}
.section2 .item-single h2{
	font-size: 18px;
	font-weight: 300;
	padding: 15px 0;
}
.section2 .item-single p{
	color: hsl(233, 8%, 62%);
}
/*Footer*/
footer{
	padding: 50px 0;
	background-color: rgb(45,49,78);
}
footer .social{
	width: 25%;
}
footer .social .logo{
	padding: 8px 0 25px 0;
}
footer .social > div{
	padding: 25px 0 0 0;
}
footer .social > div > img{
	padding: 0 5px;
	cursor: pointer;
}
footer .social > div > img:hover{
	filter: invert(66%) sepia(75%) saturate(444%) hue-rotate(102deg) brightness(93%) contrast(83%);
}
footer .menu{
	width: 50%;
	display: flex;
}
footer .menu ul{
	list-style-type: none;
}
footer .menu ul li{
	padding: 8px 0;
}
footer .menu ul li a:hover{
	color: #2cd292;
}
footer .menu > div:nth-child(1){
	padding: 0 5% 0 0;
}
footer .menu > div:nth-child(2){
	padding: 0 0 0 5%;
}
footer .direitos{
	width: 25%;
	color: rgb(186,187,191);
}
footer .direitos input{
	margin: 8px 0 25px 0;
}
footer .direitos p{
	padding: 25px 0 0 0;
}
@media screen and (max-width: 1280px) {
	.section1 .single-item{
		width: 50%;
	}
	.section2 .item-single{
		width: 48%;
	}
}
@media screen and (max-width: 1090px) {
	section.header-section .mockups{
		width: 42%;
	}
	section.header-section .conteudo{
		width: 58%;
	}
}
/*Mobile*/
@media screen and (max-width: 950px) {
	.banner-mobile{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.banner{
		display: none;
	}
	.header-desktop .flex-wrap{
		flex-direction: column-reverse;
		align-items: center;
	}
	.conteudo h2,
	.conteudo p{
		text-align: center;
		padding: 0 2%;
		display: inline-block;
	}
	section.header-section{
		height: auto;
		max-height: none;
		background-image: url(../images/bg-intro-mobile.svg);
		background-position: top right;
		background-size: 50%;
	}
	section.header-section .mockups{
		width: 50%;
		margin-top: 0px;
	}
	section.header-section .conteudo{
		text-align: center;
		width: 100%;
	}
	.btn-header-chamada{
		margin-left: 0;
		margin-bottom: 100px;
	}
	.section1 .single-item{
		width: 100%;
		text-align: center;
	}
	.section2 .container > h2{
		text-align: center;
	}
	.section2 .item-single{
		width: 100%;
		max-width: 380px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	footer{
		text-align: center;
	}
	footer .social{
		width: 100%;
	}
	footer .menu{
		width: 100%;
		display: inline-block;
	}
	footer .menu > div{
		width: 100%;
	}
	footer .menu > div:nth-child(1){
		padding: 0;
	}
	footer .menu > div:nth-child(2){
		padding: 0;
	}
	footer .direitos {
		width: 100%;
		padding: 0;
	}
}